.header {
    display: flex;
    justify-content: space-around;
    background-color: #113961;
    padding: 10px 0 10px 0;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.08);
    margin: 0 0 10px 0 ;
}

.header .lgo {
  max-width: 20%;
}

.header .logo {
    padding-left: 0px;
    max-height: 50px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #333; */
  }
  
  .menu li {
    float: left;
    font-weight: bold;
  }
  
  .menu li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* Change the link color to #111 (black) on active */
 .menu li a:active {
  background-color:aliceblue;
}
  
  /* Change the link color to #111 (black) on hover */
 .menu li a:hover {
    background-color:aliceblue;
  }

