.identificacao {
    display: flex;
    justify-content: space-around;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 4px 8px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.08);
    margin: 0 10px 0 10px ;
}

.identificacao .idpart {
    display: inline-flex;
    max-width: 80%;
    font-size: 12px;
}

.idpart p {
    margin: 4px;
}